<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestCheckOnResumeBackground"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SecondActivity"
            android:exported="true">


        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.DownloadUpdateService" />

        <receiver
            android:name=".ReservedUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.testcheckonresumebackground.ACT_RESERVED_UPDATE_RECEIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Activity.ProgressReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.testcheckonresumebackground.ACTION_UPDATE_PROGRESS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>